.clase-item-container {
  width: 100%;
  background-color: #81818146;
  border-radius: 8px;
  transition-duration: 250ms;
  user-select: none;
  cursor: default;
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.3);
}

.clase-item-container:hover {
  transform: scale(1.02);
  background-color: #81818160;
}

.clase-item-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.clase-item-container:hover {
  transform: scale(1.005);
}

.clase-item-nombre-container {
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 2px;
  padding-bottom: 12px;
}

.clase-item-nombre {
  color: white;
  font-size: 22px;
  margin: 8px 12px 0px 12px;
}

.clase-item-duracion {
  margin: 8px 12px 0px 12px;
  color: white;
  font-size: 14px;
  opacity: 0.8;
}

.clase-item-descripcion {
  margin: 8px 12px 0px 12px;
  color: white;
  font-size: 12px;
  opacity: 0.6;
}

.clase-item-inscritos {
  margin: 12px 12px 12px 12px;
  color: white;
  font-size: 12px;
}
