.perfil-container {
  flex: 1;
  height: 100vh;
  background-color: #181a1e;
}

.perfil-page-content {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 20vw;
  padding-left: 20vw;
}

.perfil-page-title {
  color: white;
  margin-right: 10px;
  margin-block: 3px;
}

.perfil-nombre {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.perfil-nombre h1 {
  color: #adf835b0;
  margin-top: 0;
}

.atras {
  color: white;
  background-color: #9dff0077;
  border: none;
  height: 35px;
  width: 70px;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 8px;
  font-size: 18px;
}
