.container-reservas-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2em;
}

.container-reservas-titulo {
  margin: 0;
  text-transform: uppercase;
}

.container-reservas-subtitulo {
  margin: 0.5em 0 0 0;
  opacity: 0.6;
  text-transform: uppercase;
}

.container-reservas-list-reservas {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 20px 20px;
  border-color: #82d103a4;
}
