.home-body {
  display: flex;
  flex: 1;
  flex-direction: 'row';
}

.home-component-left {
  flex: 1;
}

.home-component-right {
  flex: 1;
  background-color: #181a1e;
}

.home-component-right h1,
h4 {
  color: white;
}
