.header-container{
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: black;
  padding-inline: 35px;
  align-items: center;
}

.header-left {
  flex:1;
}

.header-left img{
  height: 40px;
  width: 80pxx;
  margin: 0;
}
.header-middle {
  flex:1;
}

.header-right {
  flex:1;
}