.alumno-item-container {
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.alumno-item-nombre {
  margin: 0;
  color: white;
}

.alumno-item-descripcion {
  margin: 0;
  color: white;
  font-size: 12px;
  opacity: 0.6;
}

.alumno-item-inscritos {
  margin: 0;
  color: white;
  font-size: 12px;
}

.alumno-item-acciones {
  display: flex;
  margin-top: 1em;
}
