.alumno-item-container {
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition-duration: 250ms;
}

.alumno-item-container:hover {
  transform: scale(1.005);
}

.alumno-item-nombre {
  margin: 0;
  color: white;
}

.alumno-item-descripcion {
  margin: 0;
  color: white;
  font-size: 12px;
  opacity: 0.6;
}

.alumno-item-inscritos {
  margin: 0;
  color: white;
  font-size: 12px;
}
