.header-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #0f1013;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  border: solid rgba(255, 255, 255, 0.1);
  border-width: 0 0 1px 0px;
}

.header-left {
  flex: 1;
}

.header-left img {
  height: 40px;
  width: 80pxx;
  margin: 0;
}
.header-middle {
  flex: 4;
}

.header-right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 2;
}

.header-perfil {
  text-align: center;
  border-radius: 5px;
  margin-right: 20px;
}

.header-perfil button {
  border: none;
  height: 30px;
  width: 100px;
  color: white;
  background-color: #adf83559;
  cursor: pointer;
  border-radius: 5px;
}

.header-sesion {
  color: #adf83585;
  text-align: center;
  cursor: pointer;
}
