.header-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: black;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
}

.header-left {
  flex: 1;
}

.header-left img {
  height: 40px;
  width: 80pxx;
  margin: 0;
}
.header-middle {
  flex: 1;
}

.header-right {
  flex: 1;
  padding-inline: 2;
}

.header-nombre {
  color: white;
  text-align: right;
  cursor: pointer;
}
