.left-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #202a30;
  align-items: center;
  border-width: 0 1px 0 0;
  justify-content: space-between;
}

.sidebar-button {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  margin: 4px auto;
  padding: 8px 16px;
  border-radius: 4px;
  transition-duration: 120ms;
}

.sidebar-button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.sidebar-button:active,
.sidebar-button:focus {
  outline: none;
}

.sidebar-button-selected {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.sidebar-button h5 {
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  opacity: 0.7;
}

.sidebar-button span {
  font-size: 17px;
  padding-right: 8px;
  color: white;
}

.sidebar-logout {
  width: 200px;
  height: 56px;
  background-color: #dedede;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-logout span {
  color: #ff3535;
  margin-right: 8px;
  opacity: 0.8;
}

.sidebar-logout h5 {
  text-align: left;
  color: #ff3535;
  font-size: 18px;
  margin: 0;
  opacity: 0.8;
  line-height: 18px;
}

.sidebar-text-selected {
  opacity: 1;
  font-weight: bold;
}

.sidebar-salir-button {
  width: 100%;
  background: red;
  border: none;
  cursor: pointer;
  margin: 4px auto;
  padding: 8px 16px;
  border-radius: 4px;
  transition-duration: 120ms;
  display: flex;
  font-size: 17px;
  color: white;
}

.sidebar-salir-button span {
  font-size: 17px;
  padding-right: 8px;
  color: white;
}
