.newAl-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.newAl-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #181a1e;
  justify-content: center;
  align-items: center;
}

.newAl-button {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  background-color: #24262a;
  margin-left: 20vw;
  margin-right: 20vw;
  border-radius: 0px 0px 15px 15px;
  padding: 1em;
}

.newAl-button input {
  width: 150px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
}

.newAl-button input:disabled {
  opacity: 0.3;
  cursor: auto;
}

.newAl-agregar {
  background-color: #82d103a4;
}

.newAl-cancelar {
  background-color: #d1030370;
}

.tituloNewAl {
  background-color: #24262a;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 1px;
  border-radius: 15px 15px 0px 0px;
  margin-left: 20vw;
  margin-right: 20vw;
}

.tituloNewAl h1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.datosNewAl {
  display: flex;
  min-height: 240px;
  width: 800px;
  flex-direction: row;
  background-color: #81818146;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-block: 20px;
}

.titulosNewAl {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #81818146;
}

.titulosNewAl h1 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.tituloDatoNewAl {
  display: flex;
  flex: 1;
}

.newDatosAl {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 20px;
  padding-right: 20px;
}

.datosNewAl h1 {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.datoNewAl {
  display: flex;
  flex: 1;
}

.datoNewAl input {
  margin-top: 10px;
  margin-left: 5px;
  padding-left: 20px;
  color: white;
  height: 20px;
  width: 100%;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.226);
  background-color: rgba(0, 0, 0, 0.178);
}

.datoNewAl input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.datoNewAl-select {
  margin-top: 10px;
  margin-left: 5px;
  padding-left: 20px;
  color: white;
  height: 20px;
  width: 200px;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.226);
  background-color: rgba(0, 0, 0, 0.178);
}
