.clase-page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background-color: #181a1e;
}

.clase-page-content {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-right: 20vw;
  margin-left: 20vw;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}

.clase-page-title {
  color: white;
  margin: 0;
  margin-top: 16px;
}

.clase-page-description {
  color: white;
  opacity: 0.5;
  line-height: 1.5em;
  margin-top: 2em;
}

.clase-page-action-container {
  display: flex;
  margin-top: 1em;
}

.clase-page-action-container input {
  padding: 0.7em 1.5em 0.7em 1.5em;
  margin-right: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 100ms;
}

.clase-page-action-container input:hover {
  transform: scale(0.99);
}

.clase-page-editar {
  color: black;
}

.clase-page-eliminar {
  background-color: #eb4034;
  color: white;
}

.clase-page-reservar {
  background-color: #82d103a4;
  color: white;
}

.clase-page-reservar-disabled {
  opacity: 0.5;
  cursor: none;
}

.main-back-button {
  height: 52px;
  width: 52px;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 250ms;
}

.main-back-button span {
  font-size: 28px;
  line-height: 52px;
}

.main-back-button:hover {
  transform: scale(1.05);
}
