.container-clases-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding: 2em;
}

.container-clases-list-alumnos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 20px 20px;
  border-color: #82d103a4;
}

.container-clases-titulo {
  margin: 0;
  text-transform: uppercase;
}

.clase-page-action-container input {
  padding: 0.7em 1.5em 0.7em 1.5em;
  margin-right: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 100ms;
}
