.container-clases-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding: 2em;
}

.container-clases-container ul {
  list-style-type: none;
  list-style: none;
}

.container-clases-titulo {
  margin: 0;
  text-transform: uppercase;
}
