.container-clases-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding: 2em;
}

.container-clases-list-alumnos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 20px 20px;
  border-color: #82d103a4;
}

.container-clases-titulo {
  margin: 0;
  text-transform: uppercase;
}

.clase-page-action-container input {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 50px;
  border: none;
}
